PORT=5000
MONGO_URI=mongodb+srv://jevinparmar110_db_user:JEVIN123110SA@cluster0.9retwma.mongodb.net/?appName=Cluster0
JWT_SECRET=franxx_secret_key_12345
CLIENT_URL=http://localhost:5173
NODE_ENV=development